<html>

<head>
<title>hostreservations</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='/stylesheets/hr.css' />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon"
	href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<link rel="icon" sizes="192x192"
	href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="angularjs/host.js"></script>

<!-- Divyas star functionality -->
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon"
	href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<link rel="icon" sizes="192x192"
	href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- divya popup error -->

</head>
<style>
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


.star {
	/* padding: 1px; */
	color: #ddd;
	font-size: 30px;
	text-shadow: .05em .05em #aaa;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}

.filled {
	color: #fd0;
}
</style>
<body ng-app="hostapp" ng-controller="hostcontroller" ng-init="getcompletedreservations();">

	<div style="z-index: 1000; display: block; position: relative;">
			<nav class="navbar navbar-default "
			style="background-color: transparent; background: transparent; border-color: transparent;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/home"
						style="border-right: 1px solid #dce0e0;"> <img
						src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png"
						alt="some_text"
						style="height: 30px; font-weight: normal; font-size: inherit; background-color: transparent; color: inherit; top: -2px; font-family:"HelveticaNeue";font-size: 14px;    padding: 4px 12px;     ">
					</a>

				</div>
				<ul class="nav navbar-nav pull-right" style="z-index: 100000;"
					style="overflow: hidden; font-family: Circular,"HelveticaNeue",Helvetica; top: -2px;font-size: 14px;padding: 4px 12px;"-webkit-font-smoothing:antialiased;">
					
					<li ng-if="profile.status  === 0"><a href="" ng-click="becomeHost()">Become a Host</a></li>
					<li ng-if="profile.status  === 1" ><a href="" ><span style="color:red">Become a Host (Pending)</span></a>
					<li ng-if="profile.status  === 2"><a href="/hostlistings">Host</a>
					<li><a href="/trips">Trips</a>
					<li class="dropdown"><a href="/profile"> <img width="28"
							height="28" class="img-circle dropbtn" ng-src="{{imageUrl}}"
							style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
					</a>

						<div class="dropdown-content">
							<label> <a href="/logout">Logout</a>
							</label>
						</div></li>

				</ul>

			</div>
		</nav>
	</div>



	<div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li><a href="/hostintrovideo">Intro Video</a></li>
					<li><a href="/hostdashboard">Dashboard</a></li>
					<li><a href="/inbox">Inbox</a></li>
					<li class="active"><a href="/hostlistings">Your listings</a></li>
					<!--li><a href="#">Your Trips</a></li>
					<li><a href="#">Host Assist</a></li-->
					<li><a href="/hostaccount">Account</a></li>
					<!--li><a href="#">Profile</a></li>
					<li><a href="#">Invite Friends</a></li-->
				</ul>

			</div>
		</nav>
	</div>


	<div class="row">
		<!--mainrow-->
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<!--inside column-->

			<div class="col-sm-3">
				<p>
					<br>
					<br>
				</p>
				<a href="/hostlistings"><font size="4" color="DimGrey">Listings</font></a>
				<br>
				<br> <a href="/hostrequests"><font size="4" color="DimGrey">Reservation
						Requests</font></a> <br>
				<br> <a href="/hostreservations"><font size="4"
					color="DimGrey">Upcoming Reservations</font></a> <br>
				<br> <a href="/completedreservations"><font size="4"
					color="DimGrey">Completed Reservations</font></a> <br>
				<br>
				<p>
					<button class="btn btn-primary"
						style="display: block; width: 100%; font-size: auto"
						ng-click="createnewlisting()" ng-model="newlistingpage">
						<strong>Add New Listings</strong>
					</button>
				</p>
			</div>


			<div class="col-sm-9">

				<div ng-show="yescreservations">
					<div class="row" ng-repeat="reservation in creservations | startFrom:currentPage4*pageSize4 | limitTo:pageSize4" ng-click= "$parent.pastselected = reservation">
						<div class="panel panel-default">
							<div class="panel-heading" align="middle" style="font-size: auto"
								ng-model="product_name_model">
								<strong><h3>{{reservation.title}}</h3></strong>
							</div>

							<div class="panel-body" style="height: 175px">
								<div class="col-sm-3">
									<!--img src="images/home.jpg" alt="W3Schools.com" style="width:100%;height:100%;float:left" align="top"-->
									<img src="http://localhost:3001/getpicture0/?prop_id={{reservation.prop_id}}" alt="error :("
										style="width: 100%; height: 100%; float: left" align="top">
								</div>

								<div class="col-sm-9">
									<br>
									<div class="col-sm-12" align="left">
										<strong>{{reservation.desc}}</strong>
									</div>
									<br>
									<div class="col-sm-12" align="left">
										<strong>Location: </strong>{{reservation.city}},
										{{reservation.state}}
									</div>
									<br>
									<br>
									<br>


									<div>
										<div class="col-sm-3">
											<strong>Request sent by: </strong>
										</div>
										<div class="col-sm-3">
											<strong>Check-in: </strong>
										</div>
										<div class="col-sm-3">
											<strong>Check-out</strong>
										</div>
										<div class="col-sm-3">
											<strong>No. of guests</strong>
										</div>

										<div class="col-sm-3">{{reservation.fname}}&nbsp;{{reservation.lname}}</div>
										<div class="col-sm-3">{{reservation.check_in.toString().substring(0,10)}}</div>
										<div class="col-sm-3">{{reservation.check_out.toString().substring(0,10)}}</div>
										<div class="col-sm-3">{{reservation.guests}}</div>
									</div>

								</div>
							</div>

							<div class="panel-footer" style="height: 50px">
							<div class="col-sm-6" align="left">	
								
									<button type="button" class="btn btn-default"
										style="display: block; width: 30%; font-size: auto;"
										ng-click="givereview(reservation)" data-toggle="modal" data-target="#myModalNew" >Review User</button>
									<br>
							</div>	
							<div class="col-sm-6" align="right">		
								
									<button type="button" class="btn btn-default"
										style="display: block; width: 30%; font-size: auto;"
										ng-click="givereview(reservation)" data-toggle="modal" data-target="#myModalReceipt">View Receipt</button>
									<br>
							</div>	
							</div>	
								
								<div class="modal" id="myModalNew" role="dialog">
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" ng-click="closeReview();"
												data-dismiss="modal">&times;</button>
											<h3 class="modal-title">Submit your user review</h3>
										</div>
										<div class="modal-body">
											<div class="row">
											<div class="col-sm-1"></div>
											<div class="col-sm-10">

												<div ng-init="rating = star.rating + 1">

													<label for="star-rating"><strong>Select
															your Rating:</strong></label>


													<div class="star-rating" id="usrrating"
														style="display: inline-block;" star-rating
														rating-value="rating" data-max="5"
														on-rating-selected="rateFunction(rating)"></div>


													<br> <br>
													<div class="btn-group">



														<textarea rows="4" cols="65"
															ng-model="$parent.review_model"
															placeholder="Provide review on user here...."
															required ></textarea>




														<div class="col-sm-3"></div>
														<div class="col-sm-3"></div>


														<div class="col-sm-6" align="right">
															<br>
															<button class="btn btn-primary"
																style="display: block; width: 100%; font-size: auto"
																ng-click="submitrating(reservation)">
																<strong>Submit Review & Rating</strong>
															</button>
															<br>
														</div>

													</div>
												</div>
											</div>
											<div class="col-sm-1"></div>
											</div>
											
											<div class="row">
												<div class="col-sm-1"></div>
												<div class="col-sm-10" align="middle">
													<div class="alert alert-danger"
														ng-hide="review_validation || $parent.pastselected != reservation">
														<strong>Provide review & rating and submit!</strong>
													</div>
													
													<div class="alert alert-danger"
														ng-show="invalidcharreview || $parent.pastselected != reservation">
														<strong>Only special characters allowed in review are !._ </strong>
													</div>
												</div>
												<div class="col-sm-1"></div>
											</div>
											
										</div>


										<div class="modal-footer">
											<button type="button" class="btn btn-danger" ng-click="closeReview();"
												data-dismiss="modal">Close</button>
										</div>
									</div>

								</div>

								<br>
							</div>
								
								
								
							<div class="modal" id="myModalReceipt" role="dialog">
							<br><br><br><br><br>
									<div class="modal-dialog modal-lg">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
												<h3 class="modal-title">Receipt: {{
													$parent.pastselected.nights }} nights in {{
													$parent.pastselected.city }}, {{
													$parent.pastselected.state }}</h3>

												<div style="margin-top: 24px;">
													<div style="font-family: Circular,"HelveticaNeue",Helvetica,Arial,sans-serif;color: #484848;font-size: 14px;">
														<span>Booked by {{
															$parent.pastselected.u_fname }} {{
															$parent.pastselected.u_lname }}</span>
													</div>

													<div style="font-family: Circular,"HelveticaNeue",Helvetica,Arial,sans-serif;color: #484848;font-size: 14px;">
														<span>{{
															$parent.pastselected.date.toString().substring(0,10)
															}}</span>
													</div>

												</div>


											</div>
											<div class="modal-body">
												<div class="row" style="font-family: Circular,"HelveticaNeue",Helvetica,Arial,sans-serif;font-size: 14px;color: #484848;">

													<div class="col-md-5">
														<div class="panel"
															style="margin-bottom: 24px; border: 1px solid #dce0e0; background-color: #fff; border-radius: 0;">

															<div class="panel-body"
																style="padding: 44px; position: relative; margin: 0;">
																<div class="row">
																	<div class="col-sm-12">

																		<strong style="color: #767676;"> <span>Check
																				In</span>

																		</strong> <strong style="color: #767676; float: right;">
																			<span>Check Out</span>

																		</strong>

																	</div>

																</div>

																<div class="row">
																	<div class="col-sm-6"
																		style="position: relative; display: table; height: 35px;">
																		<h4
																			style="display: table-cell; vertical-align: middle;">{{
																			$parent.pastselected.check_in.toString().substring(0,10)
																			}}</h4>
																	</div>

																	<div class="col-sm-6"
																		style="position: relative; display: table; height: 35px; text-align: right;">
																		<h4
																			style="display: table-cell; vertical-align: middle;">{{
																			$parent.pastselected.check_out.toString().substring(0,10)
																			}}</h4>
																	</div>
																</div>

																<hr
																	style="margin-top: 15px; margin-bottom: 15px; border: 0; border-top: 1px solid #dce0e0;">
																<div class="row"
																	style="margin-top: 30px; margin-bottom: 30px;">
																	<div class="col-sm-12">
																		<h4>{{ $parent.pastselected.category }}</h4>
																		<span>{{ $parent.pastselected.desc }}</span> <br>
																		<div>
																			{{ $parent.pastselected.street }} <br> {{
																			$parent.pastselected.city }}, {{
																			$parent.pastselected.state }} {{
																			$parent.pastselected.zip }} <br> United
																			States
																		</div>
																		<span> <br> <span> Hosted by
																				{{ $parent.pastselected.h_fname }} {{
																				$parent.pastselected.h_lname }} </span>

																		</span> <span> <br> <span> </span>

																		</span>




																	</div>

																</div>


																<hr
																	style="margin-top: 15px; margin-bottom: 15px; border: 0; border-top: 1px solid #dce0e0;">

																<div class="row"
																	style="margin-top: 30px; margin-bottom: 30px;">

																	<div class="col-sm-12">
																		<h4>
																			<span>{{
																				$parent.pastselected.No_of_guests }}
																				Travelers on this trip</span>
																		</h4>
																		<div class="margin-bottom: 6px;">
																			<div class="media media-photo media-round">

																				<img width="28" height="28"
																					class="img-circle dropbtn"
																					ng-src="{{imageUrl}}"
																					style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">

																			</div>
																			<span
																				style="position: relative; top: -5px; left: 13px;">{{
																				$parent.pastselected.u_fname }} {{
																				$parent.pastselected.u_lname }}</span>

																		</div>

																		<div class="row">
																			<div class="col-md-12"></div>
																		</div>




																	</div>


																</div>



															</div>
														</div>

														<div></div>
														<div>
															<span><span><strong><span>Cost
																			per traveler</span></strong></span></span> <br>
															<p>
																This trip was <strong>${{
																	$parent.pastselected.price }}</strong> per night,
																including taxes and other fees.
															</p>
														</div>


													</div>

													<div class="col-md-7">
														<div class="panel"
															style="margin-bottom: 24px; border: 1px solid #dce0e0; background-color: #fff; border-radius: 0;">

															<div class="panel-body"
																style="padding: 44px; position: relative; margin: 0;">

																<div class="row" style="margin-bottom: 6px;">

																	<div class="col-sm-12">
																		<h3>
																			<strong><span>Charges</span></strong>
																		</h3>
																	</div>

																</div>
																<div class="row" style="margin-bottom: 18px;">
																	<div class="col-sm-12">
																		<span> <span>${{
																				$parent.pastselected.price }} × {{
																				$parent.pastselected.nights }} nights</span> <span>&nbsp;</span>
																		</span> <span style="float: right;">${{
																			$parent.pastselected.price*$parent.pastselected.nights
																			}}</span>
																	</div>
																</div>

																<div class="row" style="margin-bottom: 18px;">
																	<div class="col-sm-12">
																		<span> <span>Service Fee</span> <span>&nbsp;</span>
																		</span> <span style="float: right;">$10</span>
																	</div>
																</div>

																<div class="row" style="margin-bottom: 18px;">
																	<div class="col-sm-12">
																		<span> <span>Cleaning fee</span> <span>&nbsp;</span>
																		</span> <span style="float: right;">$20</span>
																	</div>
																</div>

																<div class="row" style="margin-bottom: 18px;">
																	<div class="col-sm-12">
																		<span> <span>Occupancy taxes</span> <span>&nbsp;</span>
																		</span> <span style="float: right;">$10</span>
																	</div>
																</div>

																<div class="row"
																	style="margin-top: 30px; background-color: #edefed; padding: 20px 10px;">
																	<div class="col-sm-12"
																		style="float: none; margin-left: auto; margin-right: auto;">
																		<span
																			style="font-size: 18px; font-weight: bold;">
																			<span>Total</span>
																		</span> <span
																			style="font-size: 18px; font-weight: bold; float: right;">${{
																			$parent.pastselected.total }}</span>
																	</div>
																</div>


															</div>
														</div>



														<div class="panel"
															style="margin-bottom: 24px; border: 1px solid #dce0e0; background-color: #fff; border-radius: 0;">

															<div class="panel-body"
																style="padding: 44px; position: relative; margin: 0;">

																<div class="row" style="margin-bottom: 6px;">
																	<div class="col-sm-12">
																		<h3>
																			<strong><span>Payment</span></strong>
																		</h3>
																	</div>
																</div>
																<div class="row" style="margin-bottom: 18px;">
																	<div class="col-sm-12">

																		<div style="float: left;">

																			<span>Charged to MASTER •••• {{
																				$parent.pastselected.cardno.substring(12,16)
																				}}</span> <br> <small style="color: #767676;">{{
																				$parent.pastselected.date.toString().substring(0,10)
																				}}</small>

																		</div>
																		
																		<div style="float:right;"><span>${{
																			$parent.pastselected.total }}</span></div>

																	</div>
																</div>

															</div>
														</div>



													</div>



												</div>

											</div>

										</div>
									</div>
								</div>	


							</div>
						
						<br>
						<br>
					</div>

						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-5">
								<button
									style="width: 25%; border-color: #ff5a5f; background-color: #ff5a5f; color: #fff;"
									class="btn" ng-disabled="currentPage4 == 0"
									ng-click="currentPage4=currentPage4-1">Previous</button>
								{{currentPage4+1}}/{{numberOfPages4()}}

								<button
									style="width: 25%; border-color: #ff5a5f; background-color: #ff5a5f; color: #fff;"
									class="btn"
									ng-disabled="currentPage4 >= data4.length/pageSize4 - 1"
									ng-click="currentPage4=currentPage4+1">Next</button>
							</div>
							<div class="col-md-3"></div>
						</div>					
					
				</div>




				<div class="row" ng-show="nocreservations" align="middle">
					<div>
						<br>
						<br>
						<br>
					</div>
					<p>
						<font size="5" color="DimGrey"><b>You don’t have any
								completed reservations at the moment ! Hang in tight !</b></font>
					</p>
				</div>





			</div>



		</div>
		<!--inside column-->
		<div class="col-sm-2"></div>
	</div>
	<!--main row-->
</body>


</html>