<html>
<head>
<title>Vacation Rentals</title>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="angularjs/profile.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="shortcut icon" sizes="76x76" type="image/x-icon"
	href="https://a1.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<link rel="icon" sizes="192x192"
	href="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
input[type=text]:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

select:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #008489;
}

#myCarousel1 .carousel-inner .prev {
	left: -25%;
}

#myCarousel1 .carousel-control {
	width: 4%;
}

#myCarousel1 .carousel-control.left, #myCarousel1 .carousel-control.right
	{
	margin-left: 15px;
	background-image: none;
}

#myCarousel2 .carousel-inner .prev {
	left: -25%;
}

#myCarousel2 .carousel-control {
	width: 4%;
}

#myCarousel2 .carousel-control.left, #myCarousel2 .carousel-control.right
	{
	margin-left: 15px;
	background-image: none;
}

#myCarousel3 .carousel-inner .prev, #myCarousel4 .carousel-inner .prev,
	#myCarousel5.carousel-inner .prev, #myCarousel6 .carousel-inner .prev,
	#myCarousel7 .carousel-inner .prev {
	left: -25%;
}

#myCarousel3 .carousel-control, #myCarousel4 .carousel-inner .prev,
	#myCarousel5 .carousel-inner .prev, #myCarousel6 .carousel-inner .prev,
	#myCarousel7 .carousel-inner .prev {
	width: 4%;
}

#myCarousel3 .carousel-control.left, #myCarousel4 .carousel-control.left,
	#myCarousel5 .carousel-control.left, #myCarousel6 .carousel-control.left,
	#myCarousel7 .carousel-control.left, #myCarousel3 .carousel-control.right,
	#myCarousel4 .carousel-control.right, #myCarousel5 .carousel-control.right,
	#myCarousel6 .carousel-control.right, #myCarousel7 .carousel-control.right
	{
	margin-left: 15px;
	background-image: none;
}

.icon-facebook:before {
	content: '\f16e';
}

.icon:before {
	line-height: 1;
}

.icon:before {
	font-family: Airglyphs, sans-serif;
}

a:focus {
	outline: none
}

button:focus {
	outline: none
}

*:focus {
	outline: 0 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: black;
	background-color: white;
	font-weight: 800;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

</style>

</head>
<body ng-app="profile" ng-controller="profileCtrl">
	<div style=""z-index: 1000; display: block; position:relative">
		<nav class="navbar navbar-default "
			style="background-color: transparent; background: transparent; border-color: transparent;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/home"
						style="border-right: 1px solid #dce0e0;"> <img
						src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png"
						alt="some_text"
						style="height: 30px; font-weight: normal; font-size: inherit; background-color: transparent; color: inherit; top: -2px; font-family:"HelveticaNeue";font-size: 14px;    padding: 4px 12px;     ">
					</a>

				</div>
				<ul class="nav navbar-nav pull-right" style="z-index: 3001;position:relative"
					style="overflow: hidden; font-family: Circular,"HelveticaNeue",Helvetica; top: -2px;font-size: 14px;padding: 4px 12px;"-webkit-font-smoothing:antialiased;">
					
					<li ng-if="profile.status  === 0"><a href="" ng-click="becomeHost()">Become a Host</a></li>
					<li ng-if="profile.status  === 1" ><a href="" ><span style="color:red">Become a Host (Pending)</span></a>
					<li ng-if="profile.status  === 2"><a href="/hostlistings">Host</a>
					<li><a href="/trips">Trips</a>
					<li class="dropdown"><a href="/profile"> <img width="28"
							height="28" class="img-circle dropbtn" ng-src="{{imageUrl}}"
							style="border-color: #c4c4c4; border: 2px solid #c4c4c4;">
					</a>

						<div class="dropdown-content">
							<label> <a href="/logout">Logout</a>
							</label>
						</div></li>

				</ul>

			</div>
		</nav>
	</div>
	<div>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav nav-stacked">
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li class="active"><a href="/dashboard">Dashboard</a></li>
					<li><a href="/trips">Trips</a></li>
					<li><a href="/account">Account</a></li>
					<li ><a href="/profile">Profile</a></li>

				</ul>

			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="tabbable">
				<ul class="nav nav-pills nav-stacked col-md-3">
					
				</ul>
				<div class="tab-content col-md-9">
					<div class="tab-pane active" id="a">
						<div class="panel panel-default">
							<div class="panel-heading" align="middle" style="font-size: auto"
								ng-model="product_name_model">
								<strong><h3>Dashboard</h3></strong>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11">
										<span
											style="font-size: 18px; font-weight: bold; font-family: Circular,"HelveticaNeue",Helvetica; ">Name</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11"
										style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										Your name is <span style="font-weight: bold;"><span>{{profile.fname}}
												{{profile.lname}}</span> </span>
									</div>
								</div>
								<div class="row" style="height: 20px"></div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11">
										<span
											style="font-size: 18px; font-weight: bold; font-family: Circular,"HelveticaNeue",Helvetica; ">Email
											Address</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11"
										style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										Your email id is <span style="font-weight: bold;">{{profile.email}}</span>
									</div>
								</div>

								<div class="row" style="height: 20px"></div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11">
										<span
											style="font-size: 18px; font-weight: bold; font-family: Circular,"HelveticaNeue",Helvetica; ">Phone
											number</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11"
										style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										Your phone number is <span style="font-weight: bold;">{{profile.phone_no}}</span>
									</div>
								</div>

								<div class="row" style="height: 20px"></div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11">
										<span
											style="font-size: 18px; font-weight: bold; font-family: Circular,"HelveticaNeue",Helvetica; ">Birthday</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11"
										style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										Your date of birth is <span style="font-weight: bold;">{{profile.birthday}}</span>
									</div>
								</div>

								<div class="row" style="height: 20px"></div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11">
										<span
											style="font-size: 18px; font-weight: bold; font-family: Circular,"HelveticaNeue",Helvetica; ">Address</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-11"
										style="font-size: 14px; font-family: Circular,"HelveticaNeue",Helvetica; ">
										<div class="row" style="height: 10px"></div>
										Your address is <span style="font-weight: bold;">
											{{profile.street}}, {{profile.apartment}} {{profile.city}},
											{{profile.state}}, {{profile.zip_code}} </span>
									</div>
								</div>
							</div>

							<div class="panel-footer"></div>
						</div>
					</div>
				
					

				</div>
			</div>

		</div>
		<div class="col-md-1"></div>
	</div>
</body>
</html>